*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
  font-family:'Times New Roman', Times, serif;
}

.main_div{
  width: 100%;
  height: 100vh;
  background: linear-gradient(145deg, #00539CFF 50%, #EEA47FFF 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.list{
  list-style: none;
}

.center_div{
  width: 25%;
  height: 70vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}

h1{
  background: transparent;
  color: white;
  background-color: blueviolet;
  padding: 6px 0px 2px 0px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5)
}

input{
  text-align: center;
  height: 30px;
  width: 60%;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 17px;
  font-weight: 500;
  border-bottom: 2px solid blueviolet;
  outline: none;
}

button{
  min-height: 30px;
  width: 35px;
  border-radius: 50%;
  border-color: transparent;
  color: #f4f4f4;
  background-color: blueviolet;
  font-size: 30px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4)
}

button:hover{
  background-color: rgb(52, 169, 52);
  cursor: pointer;

}

ol{
  margin-top: 30px;
}

ol li{
  padding-left: opx;
  text-align: left;
  font-size: 18px;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: blueviolet;
  text-transform: capitalize;
  /* border-bottom: 1px solid grey; */
  margin-left: 40px;
}

.todo_style{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todo_style .fa-times{
  width:15px;
  height: 15px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 40px; 
  color: blueviolet;
}

.todo_style .fa-times:hover{
  color: crimson;
  cursor: pointer;
}

.todo_style .fa-times:hover .list_style{
  color: crimson;
}

@media(max-width:768px){
  .center_div{
    width: 55%;
  }

}